{% extends 'base.html' %}

{% block content %}
	<div style="display: none" id="data"  my_data="{{pretend_data}}"></div>
    {% for question in questions %}

        <h4>{{ question.id }}) {{ question.text }}</h4>
        <div class="answer-btn-container" id="answers_for_question1">
			<button class="answer-button btn btn-success" name='a{{ question.id }}' value="-2">Strongly Disagree</button>
			<button class="answer-button btn btn-success" name='a{{ question.id }}' value="-1">Moderately Disagree</button>
			<button class="answer-button btn btn-success active" name='a{{ question.id }}' value="0">Neutral</button>
			<button class="answer-button btn btn-success" name='a{{ question.id }}' value="1">Moderately Agree</button>
			<button class="answer-button btn btn-success" name='a{{ question.id }}' value="2">Strongly Agree</button>
		</div>

    {% endfor %}
<form id="survey-form" method="post">
	<input id="answers" type="text" style="display: none" name="answers">
	<button id="submit" type="submit">Submit</button>
</form>

<script src="{{ url_for('static', filename='survey.js') }}"></script>
{% endblock %}